<template>

    <div>
      <Header/>
      <Burgers/>
      <Footer/>
    </div>

</template>

<script>
import Header from './components/Header.vue'
import Burgers from './components/Burgers.vue'
import Footer from './components/Footer.vue'
export default {
  name: 'App',
  components: {
    Header,
    Burgers,
    Footer
  }
}
</script>

<style src="./css/style.css"></style>
