.logo{
    width: 40%;
    margin-top: 10px;
}

.page_title{
    font-size: 50px;
    font-weight: bold;
    color: #6A3F2C;
    font-family: 'Fredoka One', cursive;
    font-style: normal;
    margin-bottom: 0;
}

.select_categ{
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    color:#F0A917;
    margin-top: 0;
}

.burger_img{
    width: 50%;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.burger_mini{
    width: 70%;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.burger_name{
    color: #8A5330;
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    text-align: center;
}

.my_order{
    color: #004C83;
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    text-align: center;
}
.order_item{
    color: #8A5330;
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    font-size: medium;
    text-align: center;
}

.order_item_price{
    color: #004C83;
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    text-align: center;
}

.delete{
    color: #ffffff;
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    text-align: center;
    background-color: #ff0000;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.total{
    color:#004C83;
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    text-align: right;
}

.pay{
    color: #ffffff;
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    text-align: center;
    background-color: #004C83;
    height:100%;
    width:100%;
}

.copyright{
    color:grey;
    font-style: italic;
    font-size: smaller;
}
