<template>
<div id="category" class="row">
      <div id="featured" class="col-md-9">
        <div class="row">
          <div class="product col-sm-6 col-md-4 col-lg-4" v-for="burger in myJson" v-bind:name="burger.name" v-bind:img="burger.img" v-bind:price="burger.price">
            <div class="well">
              <img class="burger_img"
              :src="burger.img"
              :alt="burger.name"
              v-on:click="commander(burger.name, burger.img, burger.price)"/>
              <p class="burger_name">{{ burger.name }}</p>
            </div>
          </div>
        </div>
      </div>
      <div id="sidebar" class="col-md-2" v-if="commandes.length > 0">
          <div class="well">
              <p class="my_order">MY ORDER</p>
          </div>
          <hr/>
          <div v-for="commande in commandes">
            <div id="burger_mini" class="col">
              <div class="well">
                  <img class="burger_mini" :src="commande[1]" alt="Burger_item">
                </div>
            </div>
          <div class="col">
              <div class="well">
                <p class="order_item">{{ commande[0] }}</p>
                <p class="order_item_price">{{ commande[2] }}</p>
                <button class="delete" v-on:click="annuler(commande)">Supprimer</button>
            </div>
          </div>
          </div>
          <hr/>
        <div class="col">
            <div class="well">
                <p class="total" v-model="total">TOTAL: {{ total }}€</p>
                <button class="pay">PAYER</button>
              </div>
          </div>
      </div>
</div>
</template>

<script>
import json from '../json/burgers.json'
export default {
  methods: {
    commander : function(name, img, price){
      this.commandes.push([name, img, price]);
      this.total=this.total+parseFloat(price);
    },
    annuler : function(commande){
      this.commandes = this.commandes.filter(i => i !== commande);
      this.total=this.total-parseFloat(commande[2]);
    }
  },
  created () {
  },
  name: 'Burgers',
  data(){
    return{
      myJson: json,
      commandes: [],
      total: 0.0
    }
  }
}
</script>

<style src="../css/style.css"></style>
