<template>
<div id="footer">
      <div class="footer-top row">
        <div class="menu-footer col-sm-6 col-md-9"><div class="well"><p class="copyright">Designed by Elias AJEDDIG</p></div></div>
      </div>
    </div>
</template>
