<template>
  <div id="header" class="row">
        <div id="logo" class="col-md-3">
            <div class="well">
                <img class="logo" src="../img/logo.jpg" alt="Burger Queen">
              </div>
          </div>
        <div id="header-content" class="col-md-9">
            <div class="well">
              <p class="page_title">MAIN MENU</p>
              <p class="select_categ">Select a Burger</p>
          </div>
          </div>
      </div>
</template>
