<template>
  <div id="sidebar" class="col-md-2">
          <div class="well">
              <p class="my_order">MY ORDER</p>
          </div>
          <hr/>
          <div id="burger_mini" class="col">
            <div class="well">
                <img class="burger_mini" src="img/McDonalds-DoubleCheeseburger-300x231.jpg" alt="Burger Queen">
              </div>
          </div>
        <div class="col">
            <div class="well">
              <p class="order_item">Double Cheeseburger</p>
              <p class="order_item_price">7.90€</p>
              <button class="delete">Supprimer</button>
           </div>
        </div>
        <hr/>
        <div class="col">
            <div class="well">
                <p class="total">TOTAL: 7.90€</p>
              </div>
          </div>
      </div>
</template>




<style src="../css/style.css"></style>
